<div class="instructions__root">
    <p class="instructions__p">Нажмите / Коснитесь любого места на экране, чтобы положить одну монету <span class="instructions__symbol">💲</span> в игровой автомат и начать вращение <span class="instructions__symbol">🎲</span> барабанов.</p>
    <p class="instructions__p">Нажмите / Коснитесь снова, чтобы остановить один барабан. Вам нужно как минимум 3 одинаковых фигуры подряд, чтобы выиграть процент от Джекпота <span class="instructions__symbol">💎</span>.</p>
    <p class="instructions__p">Проверьте, сколько стоит каждая комбинация фигур в таблице выплат <span class="instructions__symbol">🏆</span>.</p>
    <p class="instructions__p">Включите / Выключите звук <span class="instructions__symbol">🔊</span> <span id="vibrationInstructions">и вибрацию <span class="instructions__symbol">🍆</span></span> с помощью кнопок ниже.</p>

    <button class="instructions__button" id="playButton">Ок, давайте играть!</button>
</div>
